@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

body {
  background: rgb(255,253,253);
  background: linear-gradient(90deg, rgba(255,253,253,1) 0%, rgba(22,21,31,1) 0%, rgba(0,21,46,1) 100%);
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: none;

  /* Track */
 
}

code {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;

}

@media only screen and (max-width: 412px){
  html{
    max-width: 412px;
  }
}